.card {
    margin-top: 100px;
}

#modal1 {
    top: 50% !important;
    left: 50% !important;
    width: 80%;
    max-width: 80%;
    height: 90%;
    max-height: 90%;
    transform: scaleX(1) scaleY(1) translate(-50%, -50%) !important;
}

.modal-content {

}

.modal-content-header {
    display: flex;
    justify-content: space-between;
}

.quiz-progress {
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
    color: #363636;
}

.quiz-timer {
    text-align: right;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
    color: #363636;
}

.modal-content-question {
    text-align: center;
    margin-top: 50px;
}

.quiz-image-anwsers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}

.quiz-category {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #363636;
}

.quiz-question {
    margin-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #363636;
    display: block;
}

.quiz-image {
    margin-right: 80px;
}

.quiz-answers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quiz-answers span {
    margin: 15px auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: #4D4D4D;
}

.quiz-next {
    margin-top: 40px;
}

.launcher {
    padding: 75px 50px;
}

.launcher-image {
}

.launcher-title {
    margin-top: 25px;
    color: #4D4D4D;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
}

.launcher-description {
    margin-top: 15px;
    color: #4D4D4D;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
}
