.diploma {
    padding: 0;
    background-color: #01B5E2;
    padding-bottom: 35px;
    height: 500px;
}

.diploma.disabled {
    filter: blur(5px);
}

.diploma img {
    width: 100%;
    margin-top: 10px;
}

.diploma h5 {
    padding: 0 25px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
}

.diploma .btn.white {
    width: calc(100% - 50px);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.diploma .btn.white i {
    color: #01B5E2;
}

.stats .s9 {
    padding-right: 40px;
    position: relative;
}

.stats .s9 .card {
    padding: 40px 0 40px 0;
}

.stats .s9 .card canvas {
    height: 425px;
}

.disabled-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats .page-title-secondary {
    margin-top: 40px;
}

.graph.disabled {
    filter: blur(5px);
}

.name-card {
    font-weight: 400;
    font-size: 18px;
    color: #4D4D4D;
    height: 75px;
    line-height: 75px;
    width: auto;
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.name-card i {
    color: #01B5E2;
}

.button-back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    color: #01B5E2;
    margin-top: -20px;
    font-size: 16px;
}

.button-back i {
    margin-right: 5px;
    font-size: 16px;
}

.stats-info-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #4D4D4D;
    display: flex;
    align-items: center;
}

.stats-info-title i {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #4D4D4D;
}

.stats-info-item {}

.stats-info-item-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #808080;
    margin-top: 25px;
    display: block;
}

.stats-info-item-content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #313232;
    margin-top: 10px;
    margin-bottom: 0;
}

.stats .separator {
    margin-top: 40px;
}

.stats .input-field {
    margin-top: 25px;
}

.stats .btn.red {
    margin-top: 25px;
}

.stats-admin-details {
    margin-bottom: 40px;
}