.diploma {
    padding: 0;
    background-color: #01B5E2;
    padding-bottom: 35px;
}

.diploma img {
    width: 100%
}

.diploma h5 {
    color: #fff;
}

.btn .blue {
    background-color: #fff;
    color: #01B5E2;
}