.sidenav {
    width: 250px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.brand-logo {
    padding-left: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content {
}

.technician-group {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}